body{
    font-family: 'Inter', sans-serif;
    background-color: #141d26;
}
#container{
    color: white;
    display: grid;
    grid-template-rows: 20% auto;
    border-style: solid;
    margin-top: 100px;
    width: 300px;
    height: 400px;
    border-width: 0.15em;
    border-radius: 1%;
    background-color: #000000;
    border-color: #000000;
}

#answer-container{
    display: flex;
    justify-self: center;
    justify-content: flex-end;
    align-self: center;
    border-style: none;
    border-width: 0.1em;
    height: 50px;
    width: 90%;
    background-color: #243447;
    border-radius: 4px;
}

#answer{
    margin: 0;
    text-align: right;
    align-self: flex-end;
}

#button-container{
    display: grid;
    justify-items: stretch;
    grid-template-rows: auto auto auto auto auto;
}

#main-container{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;

}

button{
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
    background-color: #243447;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}
button:focus{
    outline: none;
}

