body{
    font-family: 'Inter', sans-serif;
    background-color: #141d26;
    font-size: 1.6em;
}
#container{
    color: white;
    display: grid;
    grid-template-rows: 25% auto;
    border-style: solid;
    margin-top: 100px;
    width: 300px;
    height: 450px;
    border-width: 0.15em;
    border-radius: 1%;
    background-color: #000000;
    border-color: #000000;
}

#answer-container{
    display: flex;
    justify-self: center;
    justify-content: flex-end;
    align-self: center;
    border-style: none;
    border-width: 0.1em;
    height: 58%;
    width: 90%;
    background-color: #243447;
    border-radius: 4px;
}

#answer{
    margin: 0;
    text-align: right;
    align-self: flex-end;
    margin-right: 2px;
}

#button-container{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

#main-container{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
}
.big-button{
    width: 42%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.small-button{
    align-self: center;
    height: 54px;
    width: 54px;
    border-radius: 5px;
}

button{
    font-family: 'Inter', sans-serif;
    background-color: #243447;
    color: #FFFFFF;
    border-style: none;
}

button:hover{
    cursor: pointer;
    background-color: #374f6d;
}
button:focus{
    outline: none;
}

