body{
    background-color: rgb(179, 231, 255);
}

#container{
    display: grid;
    grid-template-rows: 20% auto;
    border-style: solid;
    margin-top: 100px;
    width: 300px;
    height: 400px;
    border-width: 0.15em;
    border-radius: 1%;
}

#answer-container{
    justify-self: center;
    align-self: center;
    border-style: solid;
    border-width: 0.15em;
    height: 50px;
    width: 90%
}

#button-container{
    display: grid;
    justify-items: stretch;
    grid-template-columns: ;
    grid-template-rows: auto auto auto auto auto;
}

#main-container{
    display: flex;
    justify-content: center;
}